@import 'variables';
@import 'portfolio';
@import 'about';
@import 'contact';

.container {
    padding: 0px;
}

nav {
    background-color: $nav_color;
}

header {
    width:100%;
    background-color: $bg_color;
    color: $text_color;
}

