
div:nth-child(1) {
    width: 200px;
    height: 200px;
    background-color: red;
}
div:nth-child(2) {
    width: 200px;
    height: 200px;
    background-color: green;
}
div:nth-child(3) {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
div:nth-child(5) {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;

}
div:nth-child(6) {
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    left:100px;
    top: -100px;
}
div:nth-child(7) {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    left:200px;
    top: -200px;
}
.contain {
    position:relative;
    right: 0px
}
.div1 {
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    right:0px;

}
.div2 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    right: 100px;
    top:100px;
}
.div3 {
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    right:200px;
    top: 200px;
}